* {
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
}

main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 350px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 5px;
}

#id-card {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

figure {
    margin-top: 5vh;
}

#profile-picture {
    margin: auto;
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
}

h2 {
    color: hsl(0, 0%, 100%);
}

h4 {
    font-size: 14px;
    color: hsl(75, 94%, 57%);
}

h3 {
    /* margin: 0; */
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

#links-card {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    list-style: none;

}

#links-card li {
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);
    /* color: hsl(0, 0%, 100%); */
    border-radius: 5px;
    height: 6vh;
    width: 90%;
    margin: 0.7vh;
    display: flex;
}

#links-card a {
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: hsl(0, 0%, 100%);

}

#links-card a:visited {
    color: hsl(0, 0%, 100%);
}


#links-card a:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}

footer {
    margin-bottom: auto;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    height: 10vh;
}

footer a {
    color: rgb(157, 51, 255)
}